* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem; }

ul, li {
  list-style: none; }

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 625%; }

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none; 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999; }}


input {
  outline: 0; }

html,body,.wrapper{
    width: 100%;
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header{
    width: 100%;
    height: .4rem;
    background: #393a3f;
    color: #feffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 .1rem;
    a{
        flex-basis: .5rem;
        color: #feffff;
        font-size: .2rem;
    }
    a:first-child{
        border-right: 1px solid #2f3035;
    }
    a:last-child{
        transform: rotate(90deg);
        position: relative;
        top: .17rem;
        left:.1rem;
    }
    h1{
        flex:1;
        padding-left:.1rem;
        font-size: .16rem;
    }
}
main{
    flex:1;
    overflow-y:scroll;
}
.mark{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    overflow: hidden;
    .box{
        width: 90%;
        height: 80%;
        background: #fff;
        margin-left:5%;
        margin-top: 15%;
        border-radius: .1rem;
        .box_hed{
            width: 100%;
            text-align: center;
            padding-top: .5rem;
            h1{
                width: 40%;
                height: auto;
                margin:0 auto;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            p{
                line-height: 2;
                font-size: .18rem;
                letter-spacing: .02rem;
            }
        }
        form{
            width: 100%;
            padding-top: .5rem;
            p{
                height: .4rem;
                width: 80%;
                margin:0 auto;
                margin-bottom: .5rem;
                position: relative;
                input{
                    width: 100%;
                    height: 100%;
                    border:0;
                    border-bottom:1px solid #838987;
                    text-indent: .5rem;
                }
                b{
                    position: absolute;
                    left:.15rem;
                    top: .05rem;
                    width: .2rem;
                    height: auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                button{
                    width: 100%;
                    height: 100%;
                    background: #2fba77;
                    border-radius: .05rem;
                    border:0;
                    color: #e9f5eb;
                }
            }
        }
    }
}